<h1 class="mt-4">Whiteboard</h1>
  
<p *ngIf="user">{{ user?.displayName }} <br> {{ user?.email }} <button class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button> </p>

<button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()">Register</button>
<button class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>

<div class="row">
  <div class="col-sm-3">
    <app-post></app-post>
  </div>
  <div class="col-sm-5">
    <app-post-list></app-post-list>
  </div>
</div>

